<footer>
    <div class="container">
        <p>&copy; 2025 Desenvolvimento Motor Infantil. Todos os direitos reservados.</p>
        <p>Esta plataforma não substitui a avaliação profissional. Consulte sempre um profissional de saúde.</p>
    </div>
</footer>

<script src="../lib/js/quiz.js?v=36" defer></script>
<script src="../lib/js/processAnswers.js?v=77" defer></script>
<script src="../lib/js/geraPDF.js?v=58" defer></script>
<script src="../lib/js/quiz_places.js?v=37"></script>



</body>

</html>