
<body>
    

    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-content">
                    <h1>Acompanhe o desenvolvimento do seu bebê</h1>
                    <p>Bem-vindo à nossa plataforma dedicada ao desenvolvimento motor infantil. Aqui você encontrará recursos valiosos para acompanhar e estimular o desenvolvimento do seu bebê.</p>
                    <a href="/quiz" class="card-link">Iniciar Avaliação</a>
                </div>
                <div class="hero-image">
                
                    <!--<img src="../lib/img/bebe-aprendendo-a-andar.jpg" loading="eager" width="260" height="260" alt="Bebê em desenvolvimento" id="hero-img">-->
                    <img src="../lib/img/bebe-aprendendo-a-andar.avif" loading="eager" fetchpriority="high" width="260" height="260" alt="Bebê em desenvolvimento" id="hero-img"> 
                </div>
            </div>
        </section>

        <section class="features">
            <div class="container">
                <h2>Como podemos ajudar</h2>
                <div class="feature-cards">
                    <div class="card">
                        <div class="card-icon">💡</div>
                        <h3>Dicas para Tutores</h3>
                        <p>Orientações práticas para estimular o desenvolvimento motor do seu bebê em cada fase.</p>
                        <div class="card-footer">
                            <a href="/dicas" class="card-link">Ver Dicas</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon">📋</div>
                        <h3>Quiz de Avaliação</h3>
                        <p>Responda perguntas específicas para a idade do seu bebê e receba um relatório personalizado.</p>
                        <div class="card-footer">
                            <a href="/quiz" class="card-link">Fazer Quiz</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon">🎓</div>
                        <h3>Buscar Avaliação</h3>
                        <p>Busque por avaliações anteriores de seu bebê.</p>
                        <div class="card-footer">
                            <a href="/busca" class="card-link">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>