<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
      
        <!-- Preload e CSS -->
        <link rel="preload" href="../lib/css/styles.css?v=166" as="style">
        <link rel="stylesheet" href="../lib/css/styles.css?v=166">
      
        <!-- Preconnect e preload das fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet" media="all">
      
        <!-- Preload das imagens críticas -->
  
        <!--<link rel="preload" as="image" href="../lib/img/bebe-aprendendo-a-andar.jpg" type="image/jpeg">-->
        <link rel="preload" as="image" href="../lib/img/bebe-aprendendo-a-andar.avif" type="image/avif">
        
        <!-- Preload dos scripts JS -->
        <link rel="preload" as="script" href="../lib/js/quiz.js?v=36">
        <link rel="preload" as="script" href="../lib/js/processAnswers.js?v=76">
        <link rel="preload" as="script" href="../lib/js/geraPDF.js?v=58">
        <link rel="preload" as="script" href="../lib/js/quiz_places.js?v=37">
        
        <link rel="icon" href="favicon.ico?v=2" type="image/x-icon">
        <meta name="description" content="Plataforma de acompanhamento do desenvolvimento motor infantil, Passo à frente">
      </head>
<header>
    <div class="container">
        <h1>Passo à frente</h1>
        <button class="hamburger" aria-label="menu" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav id="nav">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="https://passoafrente.site/dicas">Dicas</a></li>
                <li><a href="https://passoafrente.site/quiz">Quiz</a></li>
                <li><a href="https://passoafrente.site/busca">Buscar avaliações</a></li>
            </ul>
        </nav>
    </div>
</header>
